.picture {  
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  background-color: $color-white;
}

.picture__box {
  position: relative;
}

.picture__box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: rgba(0,0,0,.1);
  transition: all 0.4s ease-out;
}
.picture__box::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  background-color: rgba(0,0,0,.1);
  transition: all 0.4s ease-out;
}
.picture__box:hover::before {
  width: 100%;
  height: 100%;
}
.picture__box:hover::after {
  width: 100%;
  height: 100%;
}
.picture__img {
  width: 100%;
  height: auto;
}

.picture__entry {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
.picture__next {
  left: 90px;
  top: 55%;
  transform: translateY(-50%);
}
.picture__food {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}
.picture__link {
  font-size: 20px;
  font-weight: 400;
  color: $color-white;
  padding-bottom: 20px;
  text-decoration: none;
}
.picture__link:hover {
  color: $color-white;
}
.picture__line {
  width: 50px;
  display: block;
  height: 1px;
  background-color: $color-white;
  margin: 0 auto 20px;
  transition: all 0.3s ease;
}

.picture__item {
  padding: 15px;
}

.picture__box:hover .picture__line {
  width: 85px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 576px) {
  .picture__inner {
    flex-direction: column;
  }
}