.user {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  background-color: $color-white;
  padding-bottom: 85px;
}
.user__list {
  @include list-unstyled();
  padding-bottom: 40px;
}

.user__img {
  width: 100%;
  height: auto;
}

.user__title {
  font-weight: 400;
  font-size: 30px;
  color: #0a472e;
  margin-bottom: 20px;
}
.user__text {
  font-size: 14px;
  font-weight: 400;
  color: $color;
}
.user__link {
  @include link-decoration();
  font-size: 12px;
  font-weight: 700;
  color: $hover-color;
  padding-bottom: 5px;
  display: inline-block;
  line-height: 24px;
  border-bottom: 1px solid $hover-color;
  transition: all 0.3s ease;
}
.user__link:hover {
  color:$hover-color;
  transition: all 0.3s ease;
}
.user__link:hover .user__icon {
  transform: translateX(3px);
  transition: all 0.3s ease;
}
.user__icon  {
  transition: all 0.3s ease;
}

.user__item:nth-child(2) {
  padding: 0 80px;
}

.user__drops {
  @include list-unstyled();
}

.user__customer {
  padding-left: 100px;
  padding-right: 80px;
  width: calc(100% - 48px);
  margin-bottom: 50px;
  position: relative;
}

.user__customer::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  background-image: url('https://demo73.leotheme.com/prestashop/at_freshio/themes/freshio/assets/img/modules/appagebuilder/images/freshio_h2_image_kep.png');
  width: 48px;
  height: 38px;
}
.carusel-btn {
  width: 9px !important;
  height: 8px  !important;
  border-radius: 50%;
  margin-right: 10px !important;
}

.user__store {
  display: inline-block;
  font-size: 12px;
  color: #aaa;
  font-weight: 400;
}
@media screen and (max-width: 992px) {
  .user__item:nth-child(2) {
    padding: 20px 20px;
  }
  .user__customer {
    padding-left: 100px;
    width: calc(100% - 48px);
    margin-bottom: 50px;  
  }

}

@media screen and (max-width: 768px) {
  .user__item:nth-child(2) {
    padding: 20px 0;
  }
  .user__drops {
    flex-direction: column-reverse;
  }
  .user__box {
    padding-top: 25px;
  }
  .user__customer {
    padding-top: 25px;
  }
}
